.app-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 45px 100px 0 100px;
    margin: auto;
    gap: 50px;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    gap: 57px;
    font-size: 24px;
    font-weight: 500;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: black;
    height: 209px;
}

footer img {
    margin-top: 66px;
}