@use 'variables' as *;

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vw;
    border-radius: 25px;
    overflow: hidden;
    @include elem-shadow;
    img {
        opacity: black 60%;
        width: 100%;
        object-fit: cover;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: clamp(1rem, 4vw, 3rem);
        font-weight: 700;
        white-space: nowrap;
        color: white;
        @include text-outline;
        z-index: 1;
        @media (max-width: $breakpoint-small) {
            font-size: clamp(1rem, 6vw, 6rem);
            white-space: normal;
            left: 35%;
        }
    }
    &__mobile-break {
        display: none;
        @media (max-width: $breakpoint-small) {
            display: inline;
        }
    }
    @media (min-width: $breakpoint-large) {
        max-height: 223px;
    }
    @media (max-width: $breakpoint-small) {
        height: 30vw;
        border-radius: 10px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 2.7vw 4.5%;
    padding: 3vw 4.5%;
    background-color: $back-color;
    border-radius: 25px;
    box-sizing: border-box;
    @media (min-width: $breakpoint-large) {
        padding: 40px;
        gap: 40px
    }
    @media (max-width: $breakpoint-medium) {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    @media (max-width: $breakpoint-small) {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        padding: 0;
        gap: 22px;
        background-color: white;
        place-items: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    @include elem-shadow;
    border-radius: 10px;
    &__link {
        display: flex;
        flex-direction: column;
        aspect-ratio: 1 / 1;
        img {
            object-fit: cover;
            height: 100%;
            border-radius: 10px;
            @media (max-width: $breakpoint-small) {
                width: 100%;
                height: 255px;
            }
        }
        &--title  {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 1vw 1vw;
            font-size: clamp(0.5rem, 1.2vw, 1rem);
            font-weight: 700;
            color: white;
            @include text-outline;
            background: $main-color;
            width: 100%;
            height: 18%;
            border-radius: 0 0 10px 10px;
            box-sizing: border-box;
            @media (max-width: $breakpoint-medium) {
                font-size: clamp(0.5rem, 2.3vw, 1.5rem);
            }
            @media (max-width: $breakpoint-small) {
                font-size: clamp(0.5rem, 4vw, 1.5rem);
            }
        }
    }
    @media (max-width: $breakpoint-small) {
            width: 100%;
            height: 255px;
            
    }
}

.collapse {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        color: white;
        background-color: $main-color;
        @include text-outline;
        @include elem-shadow;
        box-sizing: border-box;
        h2 {
        font-size: 20px;
        margin: 0;
        }
        button {
            background-color: $main-color;
            border: none;
            cursor: pointer;
            .arrow-icon {
                transition: transform 0.5s ease-in-out;
            }
            .arrow-icon.rotated {
                transform: rotate(-180deg);
            }
        }
    }
    &__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
        background-color: $back-color;
        border-radius: 5px;
        padding: 0 1rem;
        @include elem-shadow;
        p {
            line-height: 1.5;
            font-size: 18px;
            margin: 5px;
        }
        &.open {
            max-height: 500px;
            padding: 1rem;
        }
    }
}

.carousel {
    position: relative;
    width: 100%;
    height: 415px;
    margin-top: 50px;
    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.left {
            left: 15px;
        }
        &.right {
            right: 15px;
        }
    }
    &__index {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        font-weight: 500;
        color: white;
        @include text-outline;
    }
}

.rating {
    img {
        margin: 5px;
    }
}